<% provide(:title, "Update User") %>
<div class="large-6 large-centered columns">
	<h1>Update User</h1>
	<%=render "form" %>
	 <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
</div>