<% provide(:title, @user.name) %>
<div class="row">
<% if @user.microposts.any? %>
	<div class="small-3 columns"><%=render 'shared/user_info' %></div>
	<div class="small-9 columns">
	<% if correct_user?(@user) %>
	<%=render 'shared/micropost_form' %>
	<% end %>
	<%=render 'shared/feed_items' %></div>
<% end %>
</div>
