<% if object.errors.any? %>
  <div id="error_explanation">
    <div data-alert class="alert-box warning">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><span class="alert label">* <%= msg %></span></li>
    <% end %>
    </ul>
  </div>
<% end %>