<li id="<%= feed_item.id %>">
  <blockquote><%= feed_item.content %></span>
     <cite><%= link_to feed_item.user.name, feed_item.user %>, <%= time_ago_in_words(feed_item.created_at) %> ago.</cite>
  </blockquote>
</li>